.footerMain{
    background: linear-gradient(0, rgb(64, 4, 192) 54%, rgb(42, 110, 255) 100%);
    // background-color: black;;
    height:30%;
    padding: 5vh 0 5vh 0 ;
    text-align: left;
    @media only screen and (max-width: 768px) {
height:100vh;         }
    .textHeading{
        font-size:1.6rem;
        font-weight:600;
        color:white;
        margin-bottom:3vh !important;

    }
    .text_Footer{
        color: #C0C0C0;
        margin-top: 20px;
    }
    .emailFooter{
        color:white;
        font-weight:400;

    }
    .image_footer{
        width:60%;
        @media only screen and (max-width: 768px) {
width:100%;          }
    }
}
.container2{
    padding: 0 10rem;
    text-align: center;
    @media only screen and (max-width: 768px) {
        padding:0 3rem;
      }
}
.footer_dabba{
    @media only screen and (max-width: 768px) {
        margin:2.6rem 0;
      }
}