.desktop {
	@media only screen and (max-width: 767.98px) {
        display: none;
	}
}
.Nav >.mobile{
    @media only screen and (min-width: 768px) {
        display: none;
    }
    .inner{
    }
}

.Nav > .tablet{
    font-size: 1rem;
    display: none;
    @media only screen and (min-width:576px) and (max-width: 767.5px) {
        display: block;
    }
}

.Nav {
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.2);
	background-color: white	;
	.inner {
		min-height: 2rem;
		margin: 0 auto;
		width: 80%;
		@media only screen and (max-width: 575.98px) {
			width: 100%;
		}
		@media only screen and (max-width: 767.98px) and (min-width: 576px) {
			width: 90%;
		}
		@media only screen and (max-width: 1199.98px) and (min-width: 768px) {
			width: 85%;
		}
		padding: 1rem 0;
		font-size: 1.5rem;

		font-weight: 400;
		.left {
			p {
				text-align: center;
				// position: relative;
				// top: 50%;
				// transform: translateY(-50%);
				margin: 0 !important;
			}
			.bold {
				font-weight: 700;
				border: 0;
			}
		}
		.menu {
			font-size: 1rem;
			.menu-content {
				height: 100%;
				p {
					height: fit-content;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					text-align: center;
				}
				p > .hover-area {
					cursor: pointer;
					transition: all 400ms ease-in-out 0s;
					border-bottom: 0rem solid transparent;
				}
				p > .hover-area:hover {
					border-bottom: 0.2rem solid black;
				}
				#active {
					border-bottom: 0.2rem solid black;
				}
			}
		}
		.right {
			font-size: 1rem;
			font-weight: 700;
			p {
				text-align: center;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		aside {
			padding: 0;
		}
	}
}
