@import "fonts.scss";

.container {
  .row1 {
    @media only screen and (max-width: 768px) {
      display: none;
      visibility: hidden;
    }
  }
  .row2 {
    @media only screen and (min-width: 767px) {
      display: none;
      visibility: hidden;
    }

  }
  .rowUpper {
    // padding-top: 26%;
    // position: relative;
    padding-top: 20%;                                                           
        // transform: translateY(-50%);
    height: 100vh;
    @media only screen and (min-width: 768px) and (max-width: 1025px) {
      padding-top: 40%;
    }
    // margin:0 !important;
    @media only screen and (max-width: 768px) {
      height: 90vh;
      padding-top: 50%;
      // margin-top:100%;
    }
    .leftUpper {
      height: fit-content;
      // margin-top: 50%;
      text-align: center;
      margin-top: 15%;
      @media only screen and (min-width: 768px) and (max-width: 1025px) {
        margin-top: 9%;
      }

      // transform: translateY(-50%);
      @media only screen and (max-width: 768px) {
        text-align: center;
        height: 10vh;
        // margin-top: 10%;
      }
    }

    .rightUpper {
      // height:100vh;
      text-align: center;
      // margin-top: 10%;
      width: 95%;

      @media only screen and (max-width: 768px) {
        height: 45vh;
      }
      .image {
        width: 40vw;
        // margin-top:-20%;
        @media only screen and (max-width: 768px) {
          width: 80vw;
        }
      }
    }
  }
}
.title {
  font-size: 4rem !important;
  font-weight: 400;
  @media only screen and (min-width: 768px) and (max-width: 1025px) {
    font-size: 3rem !important ;
  }
  @media only screen and (max-width: 768px) {
    font-size: 2rem !important ;
  }
}
.titlename {
  //   position: absolute;
  //  top:50%;
  color: white;
  font-weight: 300;
  // font-family: $roboto;
  @media only screen and (max-width: 768px) {
    margin-top: -5rem;
  }
  //  transform: translateY(-50%);
}




.text_upper{
  font-weight: 200;
  font-size: 1.4rem !important;
  line-height: 1.3rem;
  color:white;

@media only screen and (max-width: 768px) {
  font-size: 1rem !important;
       
      }
  }
.outer_Upper {
  font-weight: 100;
  // background: linear-gradient(-45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(0,212,255,1) 100%);
  background: rgb(105, 125, 255);
  background: linear-gradient(0, rgb(64, 4, 192) 54%, rgb(42, 110, 255) 100%);

  // background-color: blue
}
